.width-contenedor {
    width: 80% !important;
  }
  
  .height-contenedor {
    height: auto !important;
  }

  .alert-posicion {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  } 